<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-post">
        <h1 class = "row">Novo Cadastro:</h1>
          <div class="row">
            <div class="col-xs-6">
              <%= render 'form', cadastro: @cadastro, class: 'btn' %>
                </div>
        </div>
      </div>
    </div>
  </div>
<%= link_to 'Voltar', cadastros_path, class: 'btn btn-outline-secondary' %>
